.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 1.5em;
    .navbar__right {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    border-bottom: 2px solid black;
}
