.image_table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 40px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    .image_table_item {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        .image_table_item_img {
            width: 400px;
            margin: 15px 0;
        }
        // .image_table_item_values {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        // }
        // .image_table_check_box {
        //     width: 100%;
        //     height: 15px;
        //     border: 1px solid black;
        // }
        // .image_table_check_box.filled {
        //     background-color: black;
        // }
    }
}
